body {
    font-family: 'Archivo', sans-serif;
    background-color: #86E5FF !important;
}

.navbar-brand {
/*    margin-left: 50px;*/
    color: white;
}

.nav-link {
    color: white;
}

.navbar {
    background-color: #13005A !important;
    width: 100%;
}

.nav-link {
    color: white !important;
}

.top-image {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.one {
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.two {
    animation: fadeInAnimation ease 11s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.three {
    animation: fadeInAnimation ease 12s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out !important; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

button {
    background-color: #5B8FB9;
}

.main-image {
    width: 100%;
    padding-bottom: 50px;
}

.one {
    padding-bottom: 50px;
}

.two {
    padding-bottom: 50px;
}

.three {
    padding-bottom: 100px;
}

.location {
    padding-left: 50px;
}

.artist {
    padding-left: 50px;
}

.accom {
    padding-left: 50px;
}

.accordion-item {
    background-color: #86E5FF !important;
}

.accordion-button {
    background-color: #86E5FF !important;
}

.dropdown {
    padding-left: 50px !important;
}

.btn {
    background-color: #13005A !important;
}

.btn:hover {
    background-color: #1C82AD !important;
}

#artist-name {
    margin-left: 50px;
}

#ArtistName {
    margin-left: 50px;
}

.submit-button {
    margin-left: 50px;
}

.accordion-item-three {
    margin-bottom: 100px;
    background-color: #86E5FF !important;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
}
  
input[type=submit] {
    background-color: #5B8FB9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #1C82AD;
}
  
.container {
    margin-top: 25px;
    border-radius: 5px;
    background-color: #13005A;
    padding: 20px;
    color: white;
    /* box-shadow: 10px 10px 10px rgb(55, 52, 223); */
}